<!DOCTYPE html>
<html>
    <head>
        {% extends 'bootstrap/base.html' %}
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
        <!-- Navbar block  --> 
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
        <div class='container'>
        <!-- Content block -->

        {% block content %}

        {% endblock%}
        </div>
    </body>
</html>